<div fxFlex fxLayout="row wrap">
  <form
    fxFlex
    #patientRegisterForm="ngForm"
    fxLayout="column"
    (ngSubmit)="onSubmit()"
  >
    <h1 style="align-self: flex-start">
      Registro de Paciente na Fila de Espera
    </h1>
    <mat-form-field appearance="outline">
      <mat-label>Pesquisar Paciente por CPF</mat-label>
      <input
        type="text"
        (keypress)="keyPressNumbers($event)"
        maxlength="11"
        minlength="11"
        matInput
        [formControl]="cpf"
        placeholder="Digite o CPF..."
        name="cpf"
        required
      />
      <mat-error *ngIf="cpf.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-error *ngIf="!cpf.invalid && errors.patientNotFound">{{
      errors.patientNotFound
    }}</mat-error>
    <mat-error *ngIf="!cpf.invalid && errors.patientAlreadyExist">{{
      errors.patientAlreadyExist
    }}</mat-error>
    <button
      (click)="findPatientByCpf()"
      mat-raised-button
      [disabled]="cpf.invalid"
      style="width: 100px; margin-top: 4px"
      color="primary"
      type="button"
    >
      Pesquisar
    </button>

    <div style="padding-top: 30px" *ngIf="showPatientInfo">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput disabled value="{{ patient?.name }}" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput disabled value="{{ patient?.cpf }}" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento</mat-label>
          <input
            matInput
            disabled
            value="{{ formatDate(patient?.date_of_birth) }}"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput disabled value="{{ patient?.phone_number }}" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Prioridade</mat-label>
        <mat-select
          required
          #priorityValue
          (selectionChange)="getPrioritySelected($event)"
        >
          <mat-option
            *ngFor="let priority of priorityOptions"
            [value]="priority.value"
          >
            {{ priority.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="footer-buttons" style="margin-top: 1rem">
        <button
          [disabled]="!priority"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Confirmar
        </button>
        <button
          class="cancel-btn"
          mat-raised-button
          color="warn"
          type="button"
          (click)="closeDialog()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
