<div fxFlex fxLayout="row wrap" >
<mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>CPF</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>RG</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Endereço</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>CEP</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Complemento</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>ID do Plano de Saúde</mat-label>
    <input matInput placeholder="">
  </mat-form-field>
  
  <div class='footer-buttons' >
    <button mat-raised-button color="primary" >
      Confirmar
    </button>
    <button class="cancel-btn" mat-raised-button color="warn" >
      Cancelar
    </button>
  </div>
</div>

    
    
    