<div>
    <h3>
        Deletar paciente com CPF: {{cpfMask(cpf)}} da fila de espera?    
    </h3>
    <div class="footer-buttons" style="margin-top: 1rem">
        <button mat-raised-button color="primary" type="button" (click)="deletePatient()">
          Confirmar
        </button>
        <button
          class="cancel-btn"
          mat-raised-button
          color="warn"
          type="button"
          (click)="closeDialog()"
        >
          Cancelar
        </button>
      </div>
    
</div>