form
    padding: 20px

mat-card
    max-width: 600px
    max-height: 400px
    margin: 2em auto
    text-align: center
    border-radius: 15px
    border: 0
    padding: 0px

mat-form-field 
    display: block

mat-icon
    transform: scale(1.5)

.login-container
    background-color: primary
    height: 100vh
    background-repeat: no-repeat
    background-size:  cover
    background-image: url("../../assets/login-bg.png")

.hospital-text
    font-size: 18px
    display: flex
    justify-content: center
    align-items: center
    height: 35px
    padding: 10px

.login-card
    height: 350px
    width: 350px