<h1>Ficha do Paciente</h1>
<div class="container">
    <div>
        <mat-label>Nome</mat-label>
        <p>{{name}}</p> 
    </div>
    
    <div>
        <mat-label>CPF</mat-label>
        <p>{{cpf}}</p>
    </div>

    <div>
        <mat-label  >Prioridade</mat-label>
        <p>{{priority}}</p> 
    </div>

    <div>
        <mat-label  >Aniversário</mat-label>
        <p>{{birthday_date}}</p> 
    </div>
    
    <div>
        <mat-label>Endereço</mat-label>
        <p>{{address}}</p>
    </div>

    <div>
        <mat-label>Seguro de Vida</mat-label>
        <p>{{health_insurance_id}}</p>
    </div>
</div>
