<h1>Ficha do Paciente</h1>

<div class="container">

    <mat-label>Nome</mat-label>
    <p>{{name}}</p>
    
    <mat-label>CPF</mat-label>
    <p>{{cpf}}</p>

    <div>
        <mat-label  >Prioridade</mat-label>
        <p>{{priority}}</p> 
    </div>
<!-- 
    <mat-label>Sexo</mat-label>
    <p>{{gender}}</p> -->

    <mat-label>Data de Nascimento</mat-label>
    <p>{{birthday_date}}</p>

    <mat-label>Telefone</mat-label>
    <p>{{phone_number}}</p>

    <mat-label>Endereço</mat-label>
    <p>{{address}}</p>

    <!-- <mat-label>CEP</mat-label>
    <p>{{cep}}</p> -->


</div>