p
    font-size: 16px
    margin-top: 8px
mat-label
    font-size: 18px
    font-weight: 500
    margin-bottom: 3px

div > div
    margin: 10px
    border-radius: 1px
    padding: 3px
    display: flex
    justify-content: center
    flex-direction: column