.header-container
    padding: 0 1rem
    margin-top: 2rem
    margin-bottom: 1rem
.header-buttons
    margin-bottom: 0.5rem

mat-form-field
    margin-right: 1rem
    width: 100%
    padding: 0 !important

.no-bottom
    margin-bottom: -1.25em !important

.chart
    width: 100%

mat-button
    margin: 0.1rem

.grid-layout-custom
    width: 100%
