.header-container
    padding: 0 1rem
    margin-top: 2rem
    margin-bottom: 1rem
.header-buttons
    margin-bottom: 1rem

mat-form-field
    margin-right: 1rem
    width: 100%
    padding: 0 !important

.no-bottom
    margin-bottom: -1.25em !important

#chart-1, #chart-2 
    margin-left: 2rem

.chart
    width: 100%

mat-button
    margin: 0.1rem

.grid-layout-custom
    width: 100%
    height: 100%

#chart-1
    max-width: 400px
    height: 300px

.doctor-name
    font-size: 18px
    font-weight: 500
    margin-bottom: 1.5rem

.report-print-text
    display: none
.compare-btn, .reset-btn
    margin-left: 10px
    
@media (max-width: 700px)
    .doctor-chart
        flex-direction: column !important
    #chart-1
        margin: 1rem 0
    #chart-1, #chart-2 
        margin-left: 0 
    .dash-buttons
        transform: translateX(-10px)
    .compare-btn, .reset-btn
    .mat-raised-button
        transform: scale(0.89)
        margin-left: 3px
.col-layout
    flex-direction: column !important
.row-layout
    flex-direction: row !important


@media print 
 .first-doctor-container
      transform: translateY(100px)
 .second-doctor-container
      transform: translateY(100px)
 .header-container
        display: none !important 
 .doctor-chart
        flex-direction: row !important
 .report-print-text
     display: block
     font-size: 20px
     transform: translateY(50px)
     
